@using System.Configuration

@{
    Layout = null;
    var action = ((string)ViewContext.RouteData.Values["Action"]).ToLower();

    var blogTitle = ConfigurationManager.AppSettings["BlogTitle"];
    var feedBurnerUrl = ConfigurationManager.AppSettings["FeedBurnerUrl"];
}






<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*afto to pernei apo toBlogController sto ViewBag.Title*@
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@(ViewBag.Keywords ?? ConfigurationManager.AppSettings["MetaKeywords"])" />
    <meta name="description" content="@(ViewBag.Description ?? ConfigurationManager.AppSettings["MetaDescription"])" />
    <meta name="author" content="@ConfigurationManager.AppSettings["Author"]" />
    
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/simple/style.css")" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="@Url.Content("~/Scripts/tagcloud.js")"></script>
    <script src="@Url.Content("~/Scripts/app.js")"></script>*@

    @Styles.Render("~/Content/themes/simple/css")
    @Scripts.Render("~/jquery", "~/jqueryval", "~/jqueryunobtrusiveval", "~/js")

</head>
<body>
    <div id="main">

        <!-- Header -->
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="/">Hot<span class="logo_colour">News</span></a></h1>
                    <h2>Κριτικές Βιβλίων, Ταινίες , Καυτά Νέα..</h2>
                </div>
            </div>

            <!-- Navigation -->
            <div id="menubar">
                <ul id="menu">
                    
                    <li class="@(action == "posts" ? "selected" : "")">@Html.ActionLink("Άρθρα", "Posts")</li>
                    <li class="@(action == "contact" ? "selected" : "")">@Html.ActionLink("Επικοινωνία", "Contact")</li>
                    <li class="@(action == "aboutme" ? "selected" : "")">@Html.ActionLink("Σχετικά με", "Aboutme")</li>
                </ul>
            </div>
        </div>

        <!-- Site Content -->
        <div id="site_content">

            <div class="feeddiv">
                <a href="http://feeds.feedburner.com/hotnews" title="Subscribe to my blog">Subscribe to my blog</a>
            </div>

            @Html.Partial("_Search")
            @RenderBody()
            @Html.Action("Sidebars")
        </div>

        <!-- Footer -->
        <div id="footer">
            Copyright ©  @DateTime.Now.Year @blogTitle All Rights Reserved
        </div>
    </div>
</body>
</html>